<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB6HyOAa4pN3_cUsSehZiE4-p2ClAsIluw</string>
	<key>GCM_SENDER_ID</key>
	<string>691812216238</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.taasclub.app</string>
	<key>PROJECT_ID</key>
	<string>clubroyale-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clubroyale-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:691812216238:ios:5fe504f10d20860b722c3f</string>
</dict>
</plist>